{% extends 'products/inventory.html' %}

{% block title %}Add New Product{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class='container'>
			<form class='form-group' >
				<p>Please select product type</p>
				<label for='product_type'>Product Type: </label>
				<select name='product_type' id='product_type' onchange='this.form.submit()'>
					<option value=''>----------</option>
					<option value='Product'>Product</option>
					<option value='Flower'>Flower</option>
					<option value='Pre-Roll'>Pre-Roll</option>
					<option value='Edible'>Edible</option>
					<option value='Vape'>Vape</option>
				</select>
			</form>
		</div>
	</div>
</div>
</div>
{% if form %}
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class='container'>
			{% if product_type %}
			<p>{{product_type}}</p>
			{% endif %}
			<form method='post' class='form-control' enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
				<input type='submit' value='add product'>
			</form>
			{% endif %}

			{% for message in messages %}
			<small>{{message}}</small>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
