{% extends 'index.html' %}
{% load static %}
{% block title %} Product Inventory {% endblock %}

{% block content %}
<div class="row"></div>
<div class="row"></div>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-1"></div>
        <div class="col-md-8 col-lg-8">
            <table class="table">
                <thead class="thead-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Net weight (g)</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty. In Stock</th>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td><a href="{% url 'product' slug=product.slug %}">{{product.name}}</a></td>
                        <td>{{product.net_weight}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.quantity}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{% url 'add_product' %}">
            <button class='btn btn-success' type='submit' href="{% url 'add_product' %}">
                Add new product
            </button>
            </a>
        </div>
        <div class="col-md-2 col-lg-1"></div>
    </div>
</div>
{% endblock %}
