{% extends 'index.html' %}
{% load static %}
{% block title %} Product Inventory {% endblock %}

{% block content %}
<div class="row"></div>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-1"></div>
        <div class="col-md-8 col-lg-8">
            <table class="table">
                <thead class="thead-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">In Stock</th>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{product.product.id}}</td>
                        <td>{{product.product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.quantity}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2 col-lg-1"></div>
    </div>
</div>
{% endblock %}
